<tr class='message'>
  <td class='user'><%= message.user.user_id %> : </td>
  <td class='content'>
    <%#= highlight_code(:ruby, render_markdown( message.content )) %>
    <%= render_markdown( message.content )%>
    <small class='time_ago'><%= time_ago message.created_at %></small>
  </td>
</tr>
