<h1>Chatting App</h1>

<%= link_to "Enter Chatting", messages_path %>

<div class="example">
  <h2>WYSIWYG</h2>
  <form><textarea rows="5" class="emojis-wysiwyg">Hello :neckbeard:</textarea></form>
  <h3>Value:</h3>
  <div class="value"><pre id="emojis-wysiwyg-value"></pre></div>
</div>


<script>
// $('.emojis-plain').emojiarea({wysiwyg: false});

var $wysiwyg = $('.emojis-wysiwyg').emojiarea({wysiwyg: true});
var $wysiwyg_value = $('#emojis-wysiwyg-value');

$wysiwyg.on('change', function() {
  $wysiwyg_value.text($(this).val());
});
$wysiwyg.trigger('change');
</script>
