<h1 class='page_title'>Chatting App</h1>

<div style='display:flex;flex-flow:row flex-start;height:25em;justify-content:center;align-items:center;'>
  <div><%= link_to "Enter Chatting", messages_path, class: 'btn btn-outline-primary' %></div>
</div>
