// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.page-title {
  font-family: arial;
  font-weight: bold;
  margin-bottom: .5em;
}

#chatting {
  overflow:auto;
  height:30em;
  width: 100%;
  border:1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 5px;
  #messages {
    .message {
      display: flex;
      flex-flow: row flex-start;
      justify-content: flex-start;
      .user {
        // border: 1px solid #ccc;
        width: 10em;
        white-space: nowrap;
        vertical-align: top;
        padding: 5px;
        text-align:right;
      }
      .content {
        // border: 1px solid #ccc;
        padding: 5px;
        width: 100%;
        p {
          margin-bottom: 3px;
        }
        pre {
          width: 100%;
          border: 1px solid 5px !important;
          background-color: black;
          padding:5px 7px;
          margin-bottom: 3px;
          border-radius: 3px;
        }
        img {
          @extend .img-fluid;
        }
      }
    }
  }
}
.time_ago {
  color: #ccc;
}
.user_id {
  color: darkgray;
  font-weight: bold;
}

#new_message input[type='submit'] {
  display: none;
}


pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
